In [2]:
import numpy as np

#import Pandas
import pandas as pd

## Import & Clean Data

In [3]:
#read CSV files
entries = pd.read_csv("C:/Users/KaliO/OneDrive/Documents/Grad School/Fall 2022/DSCI 689/Bus Project/Bacis Analysis/entries.csv")
loops=pd.read_csv("C:/Users/KaliO/OneDrive/Documents/Grad School/Fall 2022/DSCI 689/Bus Project/Bacis Analysis/loops.csv")

In [4]:
#merge csv files by loop_id
entries_loops = pd.merge(entries, 
                      loops, 
                      on ='loop_id', 
                      how ='inner')
entries_loops

,boarded,stop_id,timestamp,date_added,loop_id,driver_id,id,left_behind,bus_id,is_deleted_x,loop_name,is_deleted_y
0,0,75,1/16/2021 17:00,1/16/2021,9,50,804685,0,8,0,Green Loop,0
1,2,92,1/16/2021 17:23,1/16/2021,9,50,804694,0,8,0,Green Loop,0
2,2,81,1/16/2021 17:38,1/16/2021,9,50,804706,0,8,0,Green Loop,0
3,1,83,1/16/2021 17:44,1/16/2021,9,50,804710,0,8,0,Green Loop,0
4,1,75,1/16/2021 18:00,1/16/2021,9,50,804721,0,8,0,Green Loop,0
...,...,...,...,...,...,...,...,...,...,...,...,...
458786,2,118,12/16/2021 17:48,12/16/2021,12,22,1260704,0,12,0,Demand Response,0
458787,1,99,12/16/2021 17:58,12/16/2021,12,22,1260734,0,12,0,Demand Response,0
458788,1,54,12/16/2021 20:38,12/16/2021,12,22,1261096,0,12,0,Demand Response,0
458789,1,28,12/17/2021 8:56,12/17/2021,12,33,1261593,0,12,0,Demand Response,0
458790,1,35,12/17/2021 9:58,12/17/2021,12,33,1261788,0,12,0,Demand Response,0

### Rename Columns & Remove Unnecessary Columns

In [5]:
entries_loops.rename(columns={'loop_name':'Loop Name', 'date_added':'Date', 'boarded':'Students Boarded'}, inplace=True)

In [6]:
entries_loops.drop(['is_deleted_x', 'is_deleted_y'], inplace=True, axis=1)

### Group Data by Loop & Students Boarded

In [7]:
#group & summarize by loop names
entries_loops.groupby('Loop Name')['Students Boarded'].sum()

Loop Name
Blue Loop           46034
Demand Response      5049
Green Loop         253669
Orange Loop         86637
Red Loop           124039
Sunday Green        10037
Sunday Orange       13683
Name: Students Boarded, dtype: int64

### Group Data by Date & Loop Name

In [8]:
by_date = entries_loops.groupby(['Date','Loop Name']).sum()
by_date

                           Students Boarded  stop_id  loop_id  driver_id  \
Date      Loop Name
1/16/2021 Blue Loop                       2    13857     3060       8748
          Green Loop                     37     9786     1107       3882
1/17/2021 Blue Loop                      16    15487     3420       9768
          Green Loop                    263    11437     1296       3070
1/18/2021 Blue Loop                      21    14762     3255       6732
...                                     ...      ...      ...        ...
9/9/2021  Blue Loop                     252    30728     6795      20177
          Demand Response                11      607      120        280
          Green Loop                   2256    94722    10422      22984
          Orange Loop                   492    40438     5346      16608
          Red Loop                     1192    55947     6660      30425

                                   id  left_behind  bus_id
Date      Loop Name
1/16/2021 Blue Loop         164184113            0    3468
          Green Loop         99001183            0     984
1/17/2021 Blue Loop         183579071            0    3876
          Green Loop        115954399           13    1008
1/18/2021 Blue Loop         174854020            0    2825
...                               ...          ...     ...
9/9/2021  Blue Loop         489473601            0    7701
          Demand Response    10803941            0     116
          Green Loop       1251335731           38    9300
          Orange Loop       525240318            0    7776
          Red Loop          719469964            6    3630

[891 rows x 7 columns]

### Sort Students Boarded by Descending Order

In [9]:
#sort ascending by date and descending by boarded
sby_date = by_date.sort_values('Students Boarded', ascending=False)
sby_date

                          Students Boarded  stop_id  loop_id  driver_id  \
Date       Loop Name
2/9/2021   Orange Loop               17546  1140962   156442     213508
11/1/2021  Green Loop                 3274   118424    13095      40211
9/1/2021   Green Loop                 2882    92586    10188      23400
9/17/2021  Green Loop                 2751    90956    10026      35950
9/29/2021  Green Loop                 2673    92840    10215      25867
...                                    ...      ...      ...        ...
3/14/2021  Orange Loop                   0       87       11         36
12/13/2021 Sunday Green                  0       84       16         53
           Sunday Orange                 0       86       14         36
10/31/2021 Orange Loop                   0       87       11         36
2/14/2021  Orange Loop                   0       87       11         36

                                   id  left_behind  bus_id
Date       Loop Name
2/9/2021   Orange Loop    12205784901            0   99554
11/1/2021  Green Loop      1711641887            0   15368
9/1/2021   Green Loop      1207397309           61   11989
9/17/2021  Green Loop      1222185391           43   10639
9/29/2021  Green Loop      1270920436           66   13204
...                               ...          ...     ...
3/14/2021  Orange Loop         932584            0      14
12/13/2021 Sunday Green       1250806            0      17
           Sunday Orange      1250805            0       9
10/31/2021 Orange Loop        1174132            0      13
2/14/2021  Orange Loop         874543            0      15

[891 rows x 7 columns]

### Include Month & Season Data

Convert timestamp into a date/time format

In [19]:
entries_loops['timestamp']=pd.to_datetime(entries_loops['timestamp'])
entries_loops['Date']=pd.to_datetime(entries_loops['Date'])

Check Data Type of Field

In [20]:
entries_loops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458791 entries, 0 to 458790
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Students Boarded  458791 non-null  int64
 1   stop_id           458791 non-null  int64
 2   timestamp         458791 non-null  datetime64[ns]
 3   Date              458791 non-null  datetime64[ns]
 4   loop_id           458791 non-null  int64
 5   driver_id         458791 non-null  int64
 6   id                458791 non-null  int64
 7   left_behind       458791 non-null  int64
 8   bus_id            458791 non-null  int64
 9   Loop Name         458791 non-null  object
 10  Month             458791 non-null  object
 11  Season            458791 non-null  object
dtypes: datetime64[ns](2), int64(7), object(3)
memory usage: 45.5+ MB

Created New 'Month' Column based on timestamp

In [12]:
entries_loops['Month']=entries_loops['timestamp'].dt.month_name()
entries_loops

,Students Boarded,stop_id,timestamp,Date,loop_id,driver_id,id,left_behind,bus_id,Loop Name,Month
0,0,75,2021-01-16 17:00:00,1/16/2021,9,50,804685,0,8,Green Loop,January
1,2,92,2021-01-16 17:23:00,1/16/2021,9,50,804694,0,8,Green Loop,January
2,2,81,2021-01-16 17:38:00,1/16/2021,9,50,804706,0,8,Green Loop,January
3,1,83,2021-01-16 17:44:00,1/16/2021,9,50,804710,0,8,Green Loop,January
4,1,75,2021-01-16 18:00:00,1/16/2021,9,50,804721,0,8,Green Loop,January
...,...,...,...,...,...,...,...,...,...,...,...
458786,2,118,2021-12-16 17:48:00,12/16/2021,12,22,1260704,0,12,Demand Response,December
458787,1,99,2021-12-16 17:58:00,12/16/2021,12,22,1260734,0,12,Demand Response,December
458788,1,54,2021-12-16 20:38:00,12/16/2021,12,22,1261096,0,12,Demand Response,December
458789,1,28,2021-12-17 08:56:00,12/17/2021,12,33,1261593,0,12,Demand Response,December
458790,1,35,2021-12-17 09:58:00,12/17/2021,12,33,1261788,0,12,Demand Response,December

In [25]:
entries_loops['Season']=np.where((entries_loops['Date']>='3/20/2021') & (entries_loops['Date']<='6/19/2021'), 'Spring',
                                np.where((entries_loops['Date']>='6/20/2021') & (entries_loops['Date']<='9/21/2021'), 'Summer',
                                        np.where((entries_loops['Date']>='9/22/2021') & (entries_loops['Date']<='12/20/2021'), 'Fall',
                                                         'Winter')))
entries_loops

,Students Boarded,stop_id,timestamp,Date,loop_id,driver_id,id,left_behind,bus_id,Loop Name,Month,Season
0,0,75,2021-01-16 17:00:00,2021-01-16,9,50,804685,0,8,Green Loop,January,Winter
1,2,92,2021-01-16 17:23:00,2021-01-16,9,50,804694,0,8,Green Loop,January,Winter
2,2,81,2021-01-16 17:38:00,2021-01-16,9,50,804706,0,8,Green Loop,January,Winter
3,1,83,2021-01-16 17:44:00,2021-01-16,9,50,804710,0,8,Green Loop,January,Winter
4,1,75,2021-01-16 18:00:00,2021-01-16,9,50,804721,0,8,Green Loop,January,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...
458786,2,118,2021-12-16 17:48:00,2021-12-16,12,22,1260704,0,12,Demand Response,December,Fall
458787,1,99,2021-12-16 17:58:00,2021-12-16,12,22,1260734,0,12,Demand Response,December,Fall
458788,1,54,2021-12-16 20:38:00,2021-12-16,12,22,1261096,0,12,Demand Response,December,Fall
458789,1,28,2021-12-17 08:56:00,2021-12-17,12,33,1261593,0,12,Demand Response,December,Fall
458790,1,35,2021-12-17 09:58:00,2021-12-17,12,33,1261788,0,12,Demand Response,December,Fall

In [24]:
from pathlib import Path  
filepath = Path('C:/Users/KaliO/OneDrive/Documents/Grad School/Fall 2022/DSCI 689/Bus Project/shuttle_test.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
entries_loops.to_csv(filepath)

In [17]:
#entries_loops['Season']=np.where((entries_loops['Month'].isin(['December','January','February'])), 'Winter',
                                    np.where((entries_loops['Month'].isin(['March','April','May'])), 'Spring',
                                              np.where((entries_loops['Month'].isin(['June','July','August'])),'Summer',
                                                       np.where((entries_loops['Month'].isin(['September','October','November'])),'Fall',
                                                               'Other'))))
#entries_loops

,Students Boarded,stop_id,timestamp,Date,loop_id,driver_id,id,left_behind,bus_id,Loop Name,Month,Semester,Season
0,0,75,2021-01-16 17:00:00,1/16/2021,9,50,804685,0,8,Green Loop,January,Winter,Winter
1,2,92,2021-01-16 17:23:00,1/16/2021,9,50,804694,0,8,Green Loop,January,Winter,Winter
2,2,81,2021-01-16 17:38:00,1/16/2021,9,50,804706,0,8,Green Loop,January,Winter,Winter
3,1,83,2021-01-16 17:44:00,1/16/2021,9,50,804710,0,8,Green Loop,January,Winter,Winter
4,1,75,2021-01-16 18:00:00,1/16/2021,9,50,804721,0,8,Green Loop,January,Winter,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...
458786,2,118,2021-12-16 17:48:00,12/16/2021,12,22,1260704,0,12,Demand Response,December,Winter,Winter
458787,1,99,2021-12-16 17:58:00,12/16/2021,12,22,1260734,0,12,Demand Response,December,Winter,Winter
458788,1,54,2021-12-16 20:38:00,12/16/2021,12,22,1261096,0,12,Demand Response,December,Winter,Winter
458789,1,28,2021-12-17 08:56:00,12/17/2021,12,33,1261593,0,12,Demand Response,December,Winter,Winter
458790,1,35,2021-12-17 09:58:00,12/17/2021,12,33,1261788,0,12,Demand Response,December,Winter,Winter

### Group By Data

In [26]:
by_date = entries_loops.groupby(['Date','Season','Loop Name']).agg({'Students Boarded': ['sum', 'mean']})
by_date

                                  Students Boarded
                                               sum      mean
Date       Season Loop Name
2021-01-16 Winter Blue Loop                      2  0.009804
                  Green Loop                    37  0.300813
2021-01-17 Winter Blue Loop                     16  0.070175
                  Green Loop                   263  1.826389
2021-01-18 Winter Blue Loop                     21  0.096774
...                                            ...       ...
2021-12-17 Fall   Blue Loop                     65  0.150463
                  Demand Response                2  1.000000
                  Green Loop                   720  0.698351
                  Orange Loop                  198  0.592814
                  Red Loop                     333  0.851662

[891 rows x 2 columns]

PIVOT TABLE

In [27]:
table = pd.pivot_table(entries_loops, values='Students Boarded', index=['Season','Date'], 
                       aggfunc={'Students Boarded': [np.sum, np.mean]})
table

                       mean     sum
Season Date
Fall   2021-09-22  1.833516  5011.0
       2021-09-23  1.628623  4552.0
       2021-09-24  1.810010  3725.0
       2021-09-26  1.748624   953.0
       2021-09-27  1.642882  4628.0
...                     ...     ...
Winter 2021-03-15  0.948178  2836.0
       2021-03-16  0.863484  2568.0
       2021-03-17  0.881390  2638.0
       2021-03-18  0.852225  2624.0
       2021-03-19  0.829879  2122.0

[196 rows x 2 columns]

In [29]:
by_season = entries_loops.groupby(['Season','Loop Name']).sum()
by_season

                        Students Boarded  stop_id  loop_id  driver_id  \
Season Loop Name
Fall   Blue Loop                   16947  1838477   406005    1081968
       Demand Response              1187    57425    10488      23975
       Green Loop                 118387  5352032   589140    1740467
       Orange Loop                 31812  2144774   283822     864410
       Red Loop                    61592  2762301   328790    1549649
       Sunday Green                 3759   207899    40656     100432
       Sunday Orange                6293   337762    56280     169927
Spring Blue Loop                    7399  1141915   251040     593159
       Demand Response              1115    54469     8928      21422
       Green Loop                  36075  3273540   362817     970185
       Orange Loop                 12050  1190484   158763     325916
       Red Loop                    15227  1721320   207490     912176
       Sunday Green                 1481   125905    24832      41366
       Sunday Orange                2147   204329    34370     104161
Summer Blue Loop                    7116   670948   148035     415150
       Demand Response               483    25200     4524      10712
       Green Loop                  47658  1979016   217836     549554
       Orange Loop                 10945   811639   107404     336950
       Red Loop                    22031  1059552   126140     586893
       Sunday Green                 2429   120977    23648      43939
       Sunday Orange                2291   149827    24962      75771
Winter Blue Loop                   14572  1493155   328365     841799
       Demand Response              2264   109280    18852      46125
       Green Loop                  51549  4265795   484452    1344116
       Orange Loop                 31830  2562088   351582     602534
       Red Loop                    25189  2258749   285130    1047424
       Sunday Green                 2368   160671    32432      76714
       Sunday Orange                2952   266309    45990     134337

                                 id  left_behind  bus_id
Season Loop Name
Fall   Blue Loop        32036402737            0  440198
       Demand Response   1029722855            0    9888
       Green Loop       77525279410          846  648401
       Orange Loop      30533303769           35  274050
       Red Loop         38979860560          253  339893
       Sunday Green      2999125284            9   38149
       Sunday Orange     4754048407           68   37742
Spring Blue Loop        16700533651            0  252641
       Demand Response    739777921            0    8141
       Green Loop       40179973107           81  369482
       Orange Loop      14401428719            0  160692
       Red Loop         20627267913            0  204663
       Sunday Green      1538263788            2   19913
       Sunday Orange     2431314856            4   19494
Summer Blue Loop        10610011852            0  156460
       Demand Response    404818677            0    4221
       Green Loop       26008273658          346  215191
       Orange Loop      10496643663            1  143693
       Red Loop         13557783119           37  124718
       Sunday Green      1593773713            0   18477
       Sunday Orange     1911631450           23   17133
Winter Blue Loop        19189761665            0  345271
       Demand Response   1380002727            0   17784
       Green Loop       47332998466          147  508222
       Orange Loop      27777992943            0  309449
       Red Loop         25071339598            0  298503
       Sunday Green      1761687281            2   34231
       Sunday Orange     2853575491            2   25604

In [30]:
sby_season = by_season.sort_values('Students Boarded', ascending=False)
sby_season

                        Students Boarded  stop_id  loop_id  driver_id  \
Season Loop Name
Fall   Green Loop                 118387  5352032   589140    1740467
       Red Loop                    61592  2762301   328790    1549649
Winter Green Loop                  51549  4265795   484452    1344116
Summer Green Loop                  47658  1979016   217836     549554
Spring Green Loop                  36075  3273540   362817     970185
Winter Orange Loop                 31830  2562088   351582     602534
Fall   Orange Loop                 31812  2144774   283822     864410
Winter Red Loop                    25189  2258749   285130    1047424
Summer Red Loop                    22031  1059552   126140     586893
Fall   Blue Loop                   16947  1838477   406005    1081968
Spring Red Loop                    15227  1721320   207490     912176
Winter Blue Loop                   14572  1493155   328365     841799
Spring Orange Loop                 12050  1190484   158763     325916
Summer Orange Loop                 10945   811639   107404     336950
Spring Blue Loop                    7399  1141915   251040     593159
Summer Blue Loop                    7116   670948   148035     415150
Fall   Sunday Orange                6293   337762    56280     169927
       Sunday Green                 3759   207899    40656     100432
Winter Sunday Orange                2952   266309    45990     134337
Summer Sunday Green                 2429   120977    23648      43939
Winter Sunday Green                 2368   160671    32432      76714
Summer Sunday Orange                2291   149827    24962      75771
Winter Demand Response              2264   109280    18852      46125
Spring Sunday Orange                2147   204329    34370     104161
       Sunday Green                 1481   125905    24832      41366
Fall   Demand Response              1187    57425    10488      23975
Spring Demand Response              1115    54469     8928      21422
Summer Demand Response               483    25200     4524      10712

                                 id  left_behind  bus_id
Season Loop Name
Fall   Green Loop       77525279410          846  648401
       Red Loop         38979860560          253  339893
Winter Green Loop       47332998466          147  508222
Summer Green Loop       26008273658          346  215191
Spring Green Loop       40179973107           81  369482
Winter Orange Loop      27777992943            0  309449
Fall   Orange Loop      30533303769           35  274050
Winter Red Loop         25071339598            0  298503
Summer Red Loop         13557783119           37  124718
Fall   Blue Loop        32036402737            0  440198
Spring Red Loop         20627267913            0  204663
Winter Blue Loop        19189761665            0  345271
Spring Orange Loop      14401428719            0  160692
Summer Orange Loop      10496643663            1  143693
Spring Blue Loop        16700533651            0  252641
Summer Blue Loop        10610011852            0  156460
Fall   Sunday Orange     4754048407           68   37742
       Sunday Green      2999125284            9   38149
Winter Sunday Orange     2853575491            2   25604
Summer Sunday Green      1593773713            0   18477
Winter Sunday Green      1761687281            2   34231
Summer Sunday Orange     1911631450           23   17133
Winter Demand Response   1380002727            0   17784
Spring Sunday Orange     2431314856            4   19494
       Sunday Green      1538263788            2   19913
Fall   Demand Response   1029722855            0    9888
Spring Demand Response    739777921            0    8141
Summer Demand Response    404818677            0    4221